<article class="flex-container">
  <section>
    <h1>My To-do List</h1>
    <%= form_with(url: "/todos" ,methods: "post", class: "add-todo-wrapper" ) do %>
      <%= text_field_tag(:todo_text, nil, class: "todo-input", placeholder: "What's next?", :required => true) %>
      <%= date_field_tag(:due_date, nil, class: "todo-date", :required => true)%>
      <%= submit_tag("Add", class: "add-button") %>
    <% end %>
  </section>
  <section class="flex-wrapper">
    <%= render partial: "todo-section", locals: {
      section_title: "Overdue",
      todos: Todo.overdue,
      show_date: true
    } %>
    <%= render partial: "todo-section", locals: {
      section_title: "Due Today",
      todos: Todo.due_today,
      show_date: false
    } %>
    <%= render partial: "todo-section", locals: {
    section_title: "Due Later",
    todos: Todo.due_later,
    show_date: true
    } %>
  </section>
</article>
